@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Global Styles */
  :root {
    --background: 251 48% 13%;
    --foreground: 251 38% 83%;
    --muted: 251 12% 17%;
    --muted-foreground: 251 12% 67%;
    --popover: 251 48% 10%;
    --popover-foreground: 251 38% 93%;
    --card: 251 48% 11%;
    --card-foreground: 251 38% 88%;
    --border: 251 38% 18%;
    --input: 251 38% 21%;
    --primary: 258 100% 75%;
    --primary-foreground: 258 100% 15%;
    --secondary: 258 30% 25%;
    --secondary-foreground: 258 30% 85%;
    --accent: 251 48% 28%;
    --accent-foreground: 251 48% 88%;
    --destructive: 7 87% 60%;
    --destructive-foreground: 0 0% 0%;
    --ring: 258 100% 75%;
    --chart-1: 258 100% 75%;
    --chart-2: 258 30% 25%;
    --chart-3: 251 48% 28%;
    --chart-4: 258 30% 28%;
    --chart-5: 258 103% 75%;
    --radius: 0.5rem;

    --success: 142 71% 45%;
    --success-foreground: 144 100% 97%;

    --info: 207 90% 54%;
    --info-foreground: 210 100% 97%;

    --warning: 43 96% 56%;
    --warning-foreground: 35 100% 90%;
    --info-subtle: 200 50% 40%; /* cyan discret pour infos rapides sans distraire */
    --success-subtle: 140 30% 40%; /* vert discret pour confirmations rapides */
  }
  body {
    @apply text-foreground;
    /* bg-muted  */
  }
  * {
    @apply border-border outline-ring/50;
  }

  .dark {
    --background: 20 14.3% 4.1%;

    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;

    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;

    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;

    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;

    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;

    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;

    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;

    --input: 12 6.5% 15.1%;

    --ring: 24 5.7% 82.9%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;

    --success: 142 70% 35%;
    --success-foreground: 144 80% 95%;

    --info: 207 90% 44%;
    --info-foreground: 210 100% 97%;

    --warning: 43 96% 46%;
    --warning-foreground: 35 100% 90%;
  }
}

/* @layer base {
  * {
   
  }
} */
